* {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
	background-color: floralwhite;
}

.main {
	position: absolute;
	top: 25%;
	left: 25%;
}

.style {
	color: brown;
}